<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="75"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [title]="'HTML'"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F08080'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  [titleFontSize]="'30'"
  [showSubtitle]="false"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="65"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [title]="'CSS'"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F08080'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  [titleFontSize]="'30'"
  [showSubtitle]="false"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="55"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [title]="'JavaScript'"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F08080'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  [titleFontSize]="'30'"
  [showSubtitle]="false"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="50"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [title]="'Github'"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F08080'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  [titleFontSize]="'30'"
  [showSubtitle]="false"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="50"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [title]="'Inglés'"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F08080'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  [titleFontSize]="'30'"
  [showSubtitle]="false"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="100"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [title]="'Team Work'"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F08080'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  [titleFontSize]="'30'"
  [showSubtitle]="false"
></circle-progress>
</div>
</div>